<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>呼啦啦音乐 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./css/fontCss.css">
    <link rel="stylesheet/less" type="text/css" href="./css/index.less">
    <script type="text/javascript" src="./js/vue.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href=//at.alicdn.com/t/font_560915_73wrqurffyknvcxr.css>
    <script type="text/javascript" src="./js/vue.min.js"></script>
    <link rel="stylesheet" href="./css/iconfont.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
    body{
        background: #000;
    }
    </style>
    <script>
    less = {
        env: "development",
        async: false,
        fileAsync: false,
        poll: 1000,
        functions: {},
        dumpLineNumbers: "comments",
        relativeUrls: false,
        rootpath: ""
    };
    </script>
    <script type="text/javascript" src="./js/less.min.js"></script>
</head>

<body>
    <div id="app">
        <div id="music-bg" :style="{'background-image': 'url('+playInfo.imgBase+')'}">
            <div class="music-mask"></div>
        </div>
        <div id="music" :class="{'not-show-lt':!showMuiscList}">
            <div class="filterBg page-rotate" :style="{'background-image': 'url('+playInfo.imgBase+')'}"></div>
            <div class="bg-gradient"></div>
            <div class="cg-page-left" :class="{active:!isSearch}">
                <div class="cpt-dw-music music-div " :class="[theme[playInfo.theme],playInfo.isplay?'active':'']">
                    <div class="music-play-div">
                        <div class="last" @click="last"><i class="icon-left"></i></div>
                        <div class="pauseplay" @click="play"><i :class="playInfo.isplay?'icon-pause':'icon-play'"></i></div>
                        <div class="next" @click="next"><i class="icon-right"></i></div>
                        <div class="music-info">
                            <p class="music-name" :title="playInfo.name" v-html="playInfo.name"></p>
                            <p class="music-singer" :title="playInfo.singer" v-html="playInfo.singer"></p>
                        </div>
                    </div>
                    <div class="progress-bar" v-rangeber="{Event:endEvent}">
                        <span>{{playInfo.lineTime}} / {{playInfo.time}}</span>
                        <div class="progress" :class="{active:playInfo.isplay}" :style="{left:playInfo.progress+'%'}" v-range="{value:playInfo.duration,Move:moveEvent,Start:startEvent,End:endEvent}"></div>
                    </div>
                    <div class="music-tool">
                        <div class="low" @mousedown="volume(playInfo.volume-0.01,'low')" @mouseup="clearInterval(volumeTime)" @touchend="clearInterval(volumeTime)">
                            <i class="icon iconfont icon-yinliang2"></i>
                        </div>
                        <div class="volume" style="width: 80px">
                            <div class="progress-bar" v-rangevol='{Event:volume}'>
                                <div class="progress-line" :style="{width:parseInt(playInfo.volume*100)+'%'}"></div>
                            </div>
                        </div>
                        <div class="high" @mousedown="volume(playInfo.volume+0.01,'high')" @mouseup="clearInterval(volumeTime)" @touchend="clearInterval(volumeTime)">
                            <i class="icon iconfont icon-yinliang1"></i>
                        </div>
                        <div class="order" @click="setOrder">
                            <i class="icon iconfont" :class="playInfo.order==0?'icon-shunxubofang':playInfo.order==1?'icon-danquxunhuan1':'icon-suijibofang'"></i>
                        </div>
                        <div class="list" @click="showMuiscList=!showMuiscList">
                            <i class="icon iconfont icon-chazhaobiaodanliebiao"></i>
                        </div>
                    </div>
                </div>
                <div class="search phone">
                    <form>
                        <input type="text" v-model="keyWord" placeholder="请输入要搜索的歌曲">
                        <button type="submit" @click="openSearch" onclick="return false"><i class="icon iconfont icon-sousuo"></i></button>
                    </form>
                </div>
                <div class="music-list">
                    <ul>
                        <li v-for="(lt,i) in list" :class="[{active:i==playInfo.index},(i==playInfo.index)?(playInfo.isplay)?'play':'pause':'']" @click="clickList(i)">
                            <span v-html="lt.name"></span> - <span v-html="lt.singer"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cg-page-right" :class="{active:isSearch}">
                <div class="search">
                    <form>
                        <div class="search-back phone" @click="back"><i class="icon iconfont icon-back"></i></div>
                        <input type="text" v-model="keyWord" placeholder="请输入要搜索的歌曲">
                        <button type="submit" @click="search" onclick="return false"><i class="icon iconfont icon-sousuo"></i></button>
                    </form>
                </div>
                <div class="search-list">
                    <ul>
                        <li v-for="(lt,i) in searchList" @click="clickSearchList(i)">
                            <span v-html="lt.name"></span> - <span v-html="lt.singer"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./js/music.js">

    </script>
</body>

</html>